In [2]:
import pandas as pd
import numpy as np
from matplotlib import gridspec
import math
import seaborn as sns

In [3]:
df = pd.read_csv("/home/federico/Scrivania/ML_1/ML_project/result/RF_regr_ken/RF_REGR_GS_bootstrap_run1.csv")

In [4]:
df_new= df.drop(['Index'], axis=1)

In [5]:
df.sort_values("Score")

,Index,Score,Std Dev,bootstrap,max_features,min_samples_split,n_estimators
15,15,0.941781,0.010181,False,auto,2,164
20,20,0.941814,0.010031,False,auto,2,2000
18,18,0.941892,0.010023,False,auto,2,736
16,16,0.941895,0.010240,False,auto,2,271
19,19,0.941926,0.010055,False,auto,2,1213
17,17,0.941955,0.010141,False,auto,2,447
14,14,0.942036,0.010004,False,auto,2,100
1,1,0.970403,0.004621,True,auto,2,164
4,4,0.970412,0.004576,True,auto,2,736
0,0,0.970524,0.004434,True,auto,2,100
2,2,0.970551,0.004636,True,auto,2,271
6,6,0.970651,0.004477,True,auto,2,2000
5,5,0.970695,0.004485,True,auto,2,1213
3,3,0.970846,0.004313,True,auto,2,447
7,7,0.975350,0.002625,True,sqrt,2,100
8,8,0.975456,0.002999,True,sqrt,2,164
11,11,0.975648,0.002590,True,sqrt,2,736
9,9,0.975681,0.002417,True,sqrt,2,271
12,12,0.975696,0.002619,True,sqrt,2,1213
10,10,0.975712,0.002659,True,sqrt,2,447
13,13,0.975726,0.002612,True,sqrt,2,2000
21,21,0.977397,0.002745,False,sqrt,2,100
23,23,0.977643,0.002910,False,sqrt,2,271
22,22,0.977721,0.002729,False,sqrt,2,164
27,27,0.977755,0.002668,False,sqrt,2,2000
26,26,0.977779,0.002738,False,sqrt,2,1213
24,24,0.977789,0.002762,False,sqrt,2,447
25,25,0.977852,0.002686,False,sqrt,2,736

In [ ]:
df_new = df_new.sort_values(by = ["n_estimators", "estimator__gamma"])
df_new = df_new.round(3)  ## approssima i dati a tot cifre decimali
# reset_index
df_new = df_new.drop_duplicates(['estimator__C','estimator__gamma'])

dfp = df_new.pivot(index = "estimator__C", columns= "estimator__gamma", values = "Score")  #Return reshaped DataFrame 
                                                                       #organized by given index / column values.
ax = sns.heatmap(dfp, cmap="binary" )

In [ ]:
### RUN2

In [6]:
df = pd.read_csv("/home/federico/Scrivania/ML_1/ML_project/result/RF_regr_ken/RF_REGR_GS_run2.csv")
df_new= df.drop(['Index'], axis=1)
df.sort_values("Score")

,Index,Score,Std Dev,bootstrap,max_features,min_samples_split,n_estimators
9,9,0.968871,0.004270,False,13,2,550
11,11,0.968913,0.004273,False,13,2,850
10,10,0.969261,0.004497,False,13,2,700
6,6,0.973030,0.003103,False,10,2,550
7,7,0.973244,0.002870,False,10,2,700
8,8,0.973281,0.002870,False,10,2,850
3,3,0.976063,0.001391,False,7,2,550
4,4,0.976134,0.001589,False,7,2,700
5,5,0.976243,0.001353,False,7,2,850
1,1,0.978458,0.000851,False,4,2,700
2,2,0.978477,0.001122,False,4,2,850
0,0,0.978556,0.001099,False,4,2,550

In [ ]:
df_new = df_new.sort_values(by = ["n_estimators", "estimator__gamma"])
df_new = df_new.round(3)  ## approssima i dati a tot cifre decimali
# reset_index
df_new = df_new.drop_duplicates(['estimator__C','estimator__gamma'])

dfp = df_new.pivot(index = "estimator__C", columns= "estimator__gamma", values = "Score")  #Return reshaped DataFrame 
                                                                       #organized by given index / column values.
ax = sns.heatmap(dfp, cmap="binary" )

In [ ]:
## RUN3

In [7]:
df = pd.read_csv("/home/federico/Scrivania/ML_1/ML_project/result/RF_regr_ken/RF_REGR_GS_run3.csv")
df_new= df.drop(['Index'], axis=1)
df.sort_values("Score")

,Index,Score,Std Dev,bootstrap,max_features,min_samples_split,n_estimators
8,8,0.977084,0.002495,False,5,2,850
7,7,0.977107,0.002392,False,5,2,700
6,6,0.977171,0.002563,False,5,2,550
3,3,0.977515,0.002583,False,4,2,550
5,5,0.977743,0.002310,False,4,2,850
4,4,0.977839,0.002273,False,4,2,700
2,2,0.978237,0.002000,False,3,2,850
0,0,0.978296,0.002249,False,3,2,550
1,1,0.978375,0.002258,False,3,2,700

In [ ]:
df_new = df_new.sort_values(by = ["n_estimators", "estimator__gamma"])
df_new = df_new.round(3)  ## approssima i dati a tot cifre decimali
# reset_index
df_new = df_new.drop_duplicates(['estimator__C','estimator__gamma'])

dfp = df_new.pivot(index = "estimator__C", columns= "estimator__gamma", values = "Score")  #Return reshaped DataFrame 
                                                                       #organized by given index / column values.
ax = sns.heatmap(dfp, cmap="binary" )